/* Primary */
$light-red: hsl(0, 100%, 67%);
$light-red-background: hsl(0, 100%, 97%);
$orangey-yellow: hsl(39, 100%, 56%);
$orangey-yellow-background: hsl(39, 100%, 97%);
$green-teal: hsl(166, 100%, 37%);
$green-teal-background: hsl(166, 100%, 97%);
$cobalt-blue: hsl(234, 85%, 45%);
$cobalt-blue-background: hsl(234, 85%, 97%);

/* Gradients */
$light-slate-blue-background: hsl(252, 100%, 67%);
$light-royal-blue-background: hsl(241, 81%, 54%);

$violet-blue-circle: hsla(256, 72%, 46%, 1);
$persian-blue-circle: hsla(241, 72%, 46%, 0);

/* Neutral */
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk';
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
}

p {
    font-size: 18px;
    margin: 0;
}

.main-container {
    background-color: $white;
    display: flex;
    width: 740px;
    height: 510px;
    
    .result-container {
        background: linear-gradient(0, $light-royal-blue-background, $light-slate-blue-background);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        color: $light-lavender;
        padding: 45px 60px 60px;
        text-align: center;
        width: 50%;

        .result-header {
            margin-top: 0;
            margin-bottom: 10px;
        }

        .overall-score {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: linear-gradient(0, $persian-blue-circle, $violet-blue-circle);
            border-radius: 100%;
            width: 200px;
            aspect-ratio: 1;
            padding: 60px;
            margin-block: 35px;

            .score {
                color: $white;
                font-size: 60px;
                line-height: 60px;
                font-weight: 700;
            }
        }

        .result-greeting {
            color: $white;
            font-size: 25px;
            margin-bottom: 30px;
        }

        .result-summary {
            font-size: 15px;
        }
    }

    .summary-container {
        width: 50%;
        padding: 45px 40px;

        .summary-header {
            margin: 0;
            margin-bottom: 30px;
        }

        .parameters-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            .tile {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
                width: 100%;
                border-radius: 15px;

                .parameter-label {
                    font-weight: 900;
                    display: flex;

                    img {
                        margin-right: 15px;
                    }
                }

                .parameter-score {
                    .score {
                        font-weight: 700;
                        color: #000;
                        margin-right: 5px;
                    }
                    .out-of {
                        color: $light-lavender;
                    }
                }

                &.reaction {
                    color: $light-red;
                    background-color: $light-red-background;
                }
                &.memory {
                    color: $orangey-yellow;
                    background-color: $orangey-yellow-background;
                }
                &.verbal {
                    color: $green-teal;
                    background-color: $green-teal-background;
                }
                &.visual {
                    color: $cobalt-blue;
                    background-color: $cobalt-blue-background;
                }
            }
        }
    }
}



.attribution { font-size: 11px; text-align: center; 
    a { color: hsl(228, 45%, 44%); }
}