/* Primary */
$light-red: hsl(0, 100%, 67%);
$light-red-background: hsl(0, 100%, 98%);
$orangey-yellow: hsl(39, 100%, 56%);
$orangey-yellow-background: hsl(39, 100%, 98%);
$green-teal: hsl(166, 100%, 37%);
$green-teal-background: hsl(166, 100%, 98%);
$cobalt-blue: hsl(234, 85%, 45%);
$cobalt-blue-background: hsl(234, 85%, 98%);

/* Gradients */
$light-slate-blue-background: hsl(252, 100%, 67%);
$light-royal-blue-background: hsl(241, 81%, 54%);

$violet-blue-circle: hsla(256, 72%, 46%, 1);
$persian-blue-circle: hsla(241, 72%, 46%, 0);

/* Neutral */
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'Hanken Grotesk';
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
}

p {
    font-size: 18px;
    margin: 0;
}

.main-container {
    background-color: $white;
    display: flex;
    width: 740px;
    height: 515px;
    box-shadow: 10px 10px 40px -15px $light-lavender;
    border-radius: 25px;

    .result-container {
        background: linear-gradient(0, $light-royal-blue-background, $light-slate-blue-background);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        color: $light-lavender;
        padding: 40px 60px 55px;
        text-align: center;
        width: 50%;

        .result-header {
            margin-top: 0;
            font-size: 24px;
            font-weight: 600;
        }

        .overall-score {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: linear-gradient(0, hsla(241, 72%, 46%, 0), hsl(256, 72%, 46%));
            border-radius: 100%;
            width: 200px;
            height: 200px;
            font-size: 18px;
            margin-top: 35px;
            margin-bottom: 15px;
            
            .score {
                color: $white;
                font-size: 70px;
                line-height: 60px;
                margin-block: 15px 10px;
                font-weight: 900;
            }
        }

        .result-greeting {
            color: $white;
            font-size: 31px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-block: 15px;
        }
    }

    .summary-container {
        width: 50%;
        padding: 40px 40px 45px;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .summary-header {
            margin: 0;
            font-size: 24px;
            font-weight: 700;
        }

        .parameters-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            margin-block: 30px 40px;

            .tile {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 17px 20px 17px 15px;
                width: 100%;
                border-radius: 10px;

                .parameter-label {
                    font-weight: 700;
                    display: flex;

                    img {
                        margin-right: 13px;
                    }
                }

                .parameter-score {
                    .score {
                        font-weight: 700;
                        color: #000;
                        margin-right: 4px;
                    }
                    .out-of {
                        color: $light-lavender;
                        font-weight: 700;
                    }
                }

                &.reaction {
                    color: $light-red;
                    background-color: $light-red-background;
                }
                &.memory {
                    color: $orangey-yellow;
                    background-color: $orangey-yellow-background;
                }
                &.verbal {
                    color: $green-teal;
                    background-color: $green-teal-background;
                }
                &.visual {
                    color: $cobalt-blue;
                    background-color: $cobalt-blue-background;
                }
            }
        }

        .continue-button {
            border-radius: 60px;
            border: none;
            width: 100%;
            font-size: 18px;
            background-color: $dark-gray-blue;
            color: $white;
            padding-block: 17px;
            cursor: pointer;
            font-weight: 500;

            &:hover {
                background: linear-gradient(0, $light-royal-blue-background, $light-slate-blue-background);
            }
        }
    }
}



.attribution { font-size: 11px; text-align: center; 
    bottom: 5px;
    position: absolute;
    a { color: hsl(228, 45%, 44%); }
}